/* ---------------------------Used in every page---------------------------*/

.App {
  background-color: hsl(270, 100%, 97%);
  min-height: 100vh;
  padding: 3vh;
}

.fullpage-card {
  background-color: white;
  margin: 2vh calc(-100px + 15vw);
  padding: 35px;
  border-radius: 4px;
  min-width: 320px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.fullpage-card img{
  display: block;
  margin: 0 auto;
  
}

.next-link {
  position: relative;
  float: right;
}

.next-link button {
  background-color: #005EB8;
  border-color: #005EB8;
  margin-top: 30px;
  position: relative;
}

.opt-out {
  position: relative;
  margin-left: 60%;
}

.opt-out button {
  background-color: #ff8585;
  border-color: #ff8585;
  margin-top: 30px;
  position: relative;
}


.banner {
  background-color: #522D80;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  width: 100%;
  display: inline-flex;
  margin-bottom: 20px;
}

.banner h3 {
  color: white;
  padding: 15px;
  padding-left: 5px;
  margin: 0;
}

.banner img {
  height: 4vw;
  min-height: 50px;
  padding: 10px;
  margin: 0;
}

.banner .ant-progress{
  background-color: red;
  float: right;
}

.footer {
  color: grey;
  text-align: center;
  padding-top: 0px;
}

.footer p {
  margin: 0px;
}

/* ---------------------------Used first in Recommendations Page--------------------------- */

.fullpage-card .ant-table {
  margin-bottom: 10vh;
  margin-left: calc(-60px + 4vw);
  margin-left: calc(-60px + 4vw);
}

#top-pick {
  background-color: green;
}

/* ---------------------------Used first in Pathways Page--------------------------- */

.fullpage-card .last-table {
  margin-bottom: -12vh;
}

table tr td.ant-table-selection-column-microcredentials {
  text-align: left;
}

.ant-table-cell{
  white-space: pre-wrap;
}

.ant-list-item-meta {
  border-radius: 5px;
}

.ant-list-item-meta-avatar{
  margin-left: 20px;
  margin-top: 13px;
}

.ant-list-item-meta-title{
  margin-top: 13px;
}

.ant-list-item-meta-description{
  margin-top: -8px;
}

.table-row-light {
  background-color: #ffffff;
  white-space: pre-wrap;
}

.table-row-dark {
  background-color: #e0e0e0;
  white-space: pre-wrap;
}

.recommended_3 {
  white-space: pre-wrap;
  background-color: rgba(208, 255, 217, 0.26);
  font-weight:600;
  transition-duration: 50ms;
}
.recommended_2 {
  white-space: pre-wrap;
  background-color: rgba(208, 255, 217, 0.655);
  font-weight:600;
  transition-duration: 50ms;
}

.recommended_1 {
  white-space: pre-wrap;
  background-color: rgb(208, 255, 217);
  font-weight:600;
  transition-duration: 50ms;
}

/* hide check all box at top of tables */
.ant-table-thead tr .ant-table-selection-column div {
  display: none;
}

.disabled-row {
  background-color: #f4f4f4;
  pointer-events: none;
  color:rgb(120, 120, 120);
  transition-duration: 50ms;
  transition-property: background-color;
}

/* ---------------------------Used first in Confirm Page--------------------------- */
#root > div > div.fullpage-card > div > div > ul > li::marker {
  color: #522D80;
  content: "- ";
  font-size: 100%;
}
#root > div > div.fullpage-card > div > div > ul > ul > li::marker {
  color: hsl(270, 67%, 80%);
  content: "> ";
  font-size: 90%;
}
